<div class="timer">
	
	<div class="timer-data">
		<div class="title">
			<span class="label">Title:</span>
			<span class="value">{{title}}</span>
		</div>
		<div class="total">
			<span class="label">Total:</span>
			<span class="value">{{formattedTime}}</span>
		</div>
		<div class="status">
			<span class="label">Status:</span>
			<span class="value">{{status}}</span>
		</div>
	</div>
	
	<div class="timer-controls">
		<button class="timer-start" {{action "start"}}>Start</button>	
		<button class="timer-stop" {{action "stop"}}>Stop</button>
	</div>

	<div class="notes">
		{{markdown-it notes}}
	</div>
	
</div>