<div class="timer">
	<span>Timer:</span>
	<div class="title">{{title}}</div>
	<span>Total:</span>
	<div class="time">{{totalTime}}</div>
	<button class="timer-start" {{action "start"}}>Start</button>
	<button class="timer-stop" {{action "stop"}}>Stop</button>
	<span>Status:</span>
	<div class="status">{{status}}</div>
</div>